* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

#second-third {
    width: 604px;
    margin-left: auto;
    margin-right: auto;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

ul li {
    display: inline-block;
}

#premios {
 text-align: center;
 width: 670px;
 margin-left: auto;
 margin-right: auto;
}

.premiacoes {
    padding: 15px;
}

.premiacoes h3 {
    padding-bottom: 10px;
}

